{% extends "base.njk" %}

<!--  -->
{% block pagetitle %}wade's blog :: {{ title }} {% endblock %}

<!--  -->
{% block subheading %}
<div class="date">
    {{ page.date | formatDate }}
    <!--  -->
    {% for tag in tags -%}
    <!--  -->
    {% if tag !== 'blog-post' %} | #{{ tag }} {% endif %}
    <!--  -->
    {%- endfor %}
</div>
{% endblock %}

<!--  -->
{% block maincontent %}

<!--  -->
{{ content | safe }}

<p>
    <small><a href="/blog/">back to blog</a></small>
</p>
{% endblock %}
