{% extends "base.njk" %}

<!--  -->
{% block pagetitle %}wade's garden :: {{ title }} {% endblock %}

<!--  -->
{% block head %}
<style>
    main p:first-of-type::first-line {
        font-variant: small-caps;
        font-feature-settings: "smcp";
    }
</style>
{% endblock %}

<!--  -->
{% block maincontent %}

<!--  -->
{{ content | smartquotes | safe }}

<p>
    <small><a href="/garden/">back to garden</a></small>
</p>
{% endblock %}
