---
title: What in the world?
tags: blog-post
date: 2025-10-02
description:
layout: "blog_post.njk"
---

TODO TODO: talk about nostalgia for band and kinda wanting to go to a pitt game
but i'd have to watch the football, too
