---
title: typography
tags: ["blog-post"]
date: 2025-10-19
layout: "blog_post.njk"
---

<p>
    I love typography!!! Massive fan of making things look nice. I've just added
    lead-in small caps to the start of these content pages and enabled oldstyle
    figures for when I might want them later. (For now, these are the ones that
    look like this:
    <span class="oldstyle">1234567890</span>)
</p>

<p>
    Also, I've through this just discovered that EB Garamond actually supports a
    lot of OpenType features after all. The
    <a href="https://googlefonts.github.io/ebgaramond-specimen/"
        >typography specimen</a
    >
    linked from the Google Fonts page is quite pretty. Unfortunately and
    ironically, the Google Fonts binary for the font doesn't actually bundle
    these features. This site statically hosts the full (<a
        href="/assets/eb-garamond/OFL.txt"
        >OFL-license-licensed</a
    >) font from
    <a href="https://github.com/octaviopardo/EBGaramond12"
        >https://github.com/octaviopardo/EBGaramond12</a
    >.
</p>

<p>
    A really nice resource on many things typography is Matthew Butterick's
    <a href="https://practicaltypography.com/"
        >https://practicaltypography.com/</a
    >.
</p>
