---
title: link wall
tags: garden-planter
layout: "garden_planter.njk"
---

<p>Here's just a bunch of links to things I think are cool.</p>

<p>Inspiration for the layout of this website:</p>

<ul>
    <li>
        <a href="https://practicaltypography.com/"
            >https://practicaltypography.com/</a
        >
    </li>
    <li>
        <a href="https://www.teamten.com/lawrence/writings/"
            >https://www.teamten.com/lawrence/writings/</a
        >
    </li>
</ul>

<p>What's with that cat in the garden?</p>

<ul>
    <li>
        <a href="https://nekothecat.neocities.org/"
            >https://nekothecat.neocities.org/</a
        >
    </li>
</ul>

<p>Misc:</p>

<ul>
    <li>
        <a href="https://qntm.org/scp"
            >There Is No Antimemetics Division by qntm</a
        >
        is a VERY good book that you should read.
    </li>
    <li>
        The backrooms wiki article for
        <a href="https://backrooms-wiki.wikidot.com/entity-71"
            >the Red Knight</a
        >
        and surrounding links also tickle my preferred genre fancy
    </li>
    <li>
        <a href="https://www.chessprogramming.org/"
            >https://www.chessprogramming.org/</a
        >. Chess programming wiki.
    </li>
    <li>
        <a href="https://hallofdreams.org/posts/hatetris-2/"
            >https://hallofdreams.org/posts/hatetris-2/</a
        >: this was written in a pretty engaging manner
    </li>
</ul>
