---
title: on web design
tags: garden-planter
layout: "garden_planter.njk"
---

<p>
    I try to make my site both accessible and pretty. Accessiblity is important
    to me because people should, like, be able to read things. As for my
    personal stakes, I'm liable to get headaches when things go too "wacko
    crazy." Among other things I may have forgotten, I have animations turned
    off wherever possible, and am peeved by the "astigmatism white on black"
    thing. People should be able to read things. And pretty is in a typography
    as well as general design sense. By some definition somewhere, this is also
    a subset of accessibility.
</p>

<p>
    The rest of this page is a list of ideas or links with ideas that I've
    looked at, if not implemented.
</p>

<h2>general accessibility</h2>

<ul>
    <li>semantic HTML</li>
    <li>
        use the browser's "view as mobile device" mode. Resize the viewport like
        a madman. What happens if someone reads this on, like, a nokia flip
        phone?
    </li>
    <li>
        accessible hover tooltips:
        <a
            href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Reference/Roles/"
            >mdn docs link</a
        >
    </li>
    <li>
        <a
            href="https://dubbot.com/dubblog/2024/a-footnote-on-footnotes-they-need-to-be-accessible.html"
            >https://dubbot.com/dubblog/2024/a-footnote-on-footnotes-they-need-to-be-accessible.html</a
        >
    </li>
    <li>
        <a href="https://seirdy.one/posts/2020/11/23/website-best-practices/"
            >https://seirdy.one/posts/2020/11/23/website-best-practices/</a
        >&mdash;so much info
    </li>
    <li>
        actually stepping through the site with a screen reader. It looks like
        accessibility software for Linux is lacking these days :/ NVDA seems
        like the industry standard?
    </li>
    <li>
        <a href="https://webaim.org/">https://webaim.org/</a>
    </li>
    <ul>
        <li>
            <a href="https://wave.webaim.org/">https://wave.webaim.org/</a>
            generates a pretty cool visualization
        </li>
        <li>
            don't forget color contrast:
            <a href="https://webaim.org/resources/contrastchecker/"
                >https://webaim.org/resources/contrastchecker/</a
            >
        </li>
    </ul>
</ul>

<h2>web performance</h2>

<p>This is yet another subset of accessibility, or something.</p>

<ul>
    <li>
        profile! both CPU-bound JS and IO-bound network requests. You can
        throttle network requests in Firefox's devtools network tab to emulate
        different network speeds.
    </li>
    <li>
        the tongue-in-cheek
        <a href="https://motherfuckingwebsite.com/"
            >https://motherfuckingwebsite.com/</a
        >
        and its many spinoffs
    </li>
    <li>the <a href="https://www.mcmaster.com/">McMaster Carr website</a></li>
    <ul>
        <li><a href="https://youtu.be/-Ln-8QM8KhQ">breakdown on youtube</a></li>
        <li>
            <a
                href="https://www.reddit.com/r/programming/comments/1g75r84/how_is_this_website_so_fast_breaking_down_the/"
                >discussion on reddit</a
            >
        </li>
    </ul>
    <li>
        minimizing IO calls (network requests). Doesn't this sound familiar?
        *looks at memory hierarchy*
    </li>
    <ul>
        <li>you can inline small or important bits of JS/CSS code</li>
    </ul>
</ul>

<h2>typography</h2>

<ul>
    <li>
        <a href="https://practicaltypography.com/"
            >https://practicaltypography.com/</a
        >
    </li>
    <li>
        smart quotes are inserted via regex. This may bite me in the future.
    </li>
    <li>
        I think
        <a href="https://en.wikipedia.org/wiki/Serif#Old-style">old-style</a>
        fonts are really attractive. At writing, this uses EB Garamond, in part
        because it's free. Someone suggested Sabon.
    </li>
</ul>
