:root {
    --max-width: 544px; // make mobile better later
    --bg: white;
    --text: black;
}

body {
    background-color: var(--bg);
	height: 100%;
	margin: 0;
	padding: 0;
    font-size: 1.2em;
}

p {
    line-height: 1.6;
}

#site-container {
    font-family: "Times New Roman", Times, serif;
    max-width: var(--max-width); // 544px is size of header image
    margin: 0px;
    width: 80vw;
    // overflow: hidden;
    position: absolute;
    left: 10vw;
    color: var(--text);
}

h2 {
	border-bottom: 1px solid var(--text);
}
h2:before {
	content: "~$ ";
}


hr {
    border: none;
    height: 1px;
    background-color: var(--text);
	margin: 4px 0px 4px;
}

.spoiler {
  background-color: var(--text);
}
.spoiler:hover {
  background-color: var(--bg);
}

a {
    color: var(--text);

    // these below are set explicitly to make all links work
    // for example, the <a> in settings don't have href links,
    // so if these aren't here they'll be like normal text
    // without interactive underlining and hand cursor
    cursor: pointer;
    
    &:not(:hover) {
    text-decoration: underline;
    }
    
    &:hover {
    text-decoration: none;
    }
} 

li {
    margin-bottom: 10px;
}
img {
    image-rendering: pixelated
}
nav {
    overflow: hidden;
    max-width: inherit;

    a {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    }

    .settings-btn {
    float: right;
    margin-right: 10px;
    }

    img {
    display: block;
    image-rendering: pixelated
    }
}

pre code {
    overflow: auto;
    background-color: #eee;
	color: black;
    border: 1px solid #999;
    display: block;
    white-space: pre-line;
}

.temp {
	display: block;
	//idk the navbar margins are broken, rm this when the arent
}
