---
title: blog
layout: "base.njk"
---

<p>
    RSS
    <svg
        xmlns="http://www.w3.org/2000/svg"
        style="transform: translate(0, 3px)"
        width="1em"
        height="1em"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-rss"
    >
        <path d="M4 11a9 9 0 0 1 9 9"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <circle cx="5" cy="19" r="1"></circle>
    </svg>
    :
    <a href="./feed.xml">https://wade-cheng.is-a.dev/blog/feed.xml</a>
</p>

Isn't the age of the internet so weird? You might not know me, but now you can
make an effort without our ever meeting. In another life, maybe we would've met,
and I would've really liked just doing laundry and taxes with you.

<hr />

{%- for post in collections['blog-post'] | reverse -%}

<p>
    <a href="{{post.url}}">{{ post.data.title }}</a>
    <span class="date"
        >{{ post.data.date | formatDate }}{% for tag in post.data.tags -%} {% if
        tag !== 'blog-post' %} | #{{ tag }} {% endif %} {%- endfor %}</span
    >
</p>

{%- endfor -%}
