---
title: garden
layout: "base.njk"
---

<p>
    Welcome to my digital garden, a place where I keep long-running, constantly
    updated articles, as opposed to one-off blog posts.
</p>

<hr />

{%- for post in collections['garden-planter'] -%}

<p>
    <a href="{{post.url}}">{{ post.data.title }}</a>
    {{ post.data.description | safe }}
</p>

{%- endfor -%}

<script>
    NekoType = "white";
</script>
<div id="nl">
    <script src="https://webneko.net/n20171213.js"></script>
    <a href="https://webneko.net">Neko</a>
</div>
