---
title: home
layout: "base.njk"
---

<!-- <h1>wade-cheng</h1> -->
<p>
    Heyo! I'm Wade. I think coding is pretty cool. Undergrad at Carnegie Mellon.
    Have a look around :-)
</p>
<!-- <ul>
    <li><a href="./">projects</a></li>
    <li><a href="./">blog</a></li>
    <li><a href="./">garden</a></li>
</ul> -->
