---
title: home
layout: "base.njk"
---

<p>Heyo, I'm Wade. Feel free to poke around :-)</p>

<p>Find me on:</p>

<ul class="tight links">
    <li>
        <a href="https://www.github.com/wade-cheng/">
            <span class="platform"> github </span>
            <span class="username">wade-cheng</span>
        </a>
        <div aria-describedby="wade-cheng-github">ⓘ</div>
        <div id="wade-cheng-github" role="tooltip">
            for more formal contexts (work, student org contributions, open
            source)
        </div>
    </li>
    <li>
        <a href="https://www.github.com/saffronner/">
            <span class="platform"> github </span>
            <span class="username">saffronner</span>
        </a>
        <div aria-describedby="saffronner-github">ⓘ</div>
        <div id="saffronner-github" role="tooltip">
            for more casual contexts (class notes and such)
        </div>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/wade-cheng/">
            <span class="platform"> linkedin </span>
            <span class="username">wade-cheng</span>
        </a>
    </li>
</ul>
