---
title: home
layout: "base.njk"
---

<!-- <h1>wade-cheng</h1> -->
<p>
    Heyo! I'm Wade. I think coding is pretty cool. Undergrad at Carnegie Mellon.
    Have a look around :-)
</p>

<hr />

<h2>links</h2>

<p>Find me on</p>

<ul>
    <li><a href="https://www.github.com/wade-cheng/">github</a></li>
    <li><a href="https://www.linkedin.com/in/wade-cheng/">linkedin</a></li>
</ul>
