:root {
  --max-width: 544px;
  --bg: white;
  --text: black;
  --code-bg: #363636;
  --code-text: #E3E3E3;
  /* --bg: white; */
  /* --text: black; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #20384B;
    --text: #E1F2FF;
    --code-bg: #E1F2FF;
    --code-text: #20384B;
  }
}

/* ul { list-style-type: "•  "; } */
/* ul { list-style-type: "◈  "; } */

body {
  font-family: "EB Garamond", serif;
  color: var(--text);
  background-color: var(--bg);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5;
}

.date {
    font-size: 85%;
}

#site-container {
  max-width: var(--max-width);
  margin: 0px;
  width: 80vw;
  position: absolute;
  left: 10vw;
}

/* h2 {
  border-bottom: 1px solid var(--text);
}

h2:before {
  content: "~$ ";
} */

hr {
  border: none;
  height: 1px;
  background-color: var(--text);
  margin: 4px 0px 4px;
}

/* remember to uncomment the google fonts query if you use this
might be cool to look for a small caps font too.
.smallcaps {
    font-family: "Vollkorn SC", "Vollkorn", serif;
} */

.spoiler {
  background-color: var(--text);
}

.spoiler:hover {
  background-color: var(--bg);
}

a {
  color: var(--text);
  cursor: pointer;
}
a:not(:hover) {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

li {
  margin-bottom: 10px;
}

img {
  image-rendering: pixelated;
}

nav {
  overflow: hidden;
  max-width: inherit;
}
nav a {
  line-height: 1.2;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
nav .settings-btn {
  float: right;
  margin-right: 10px;
}
nav img {
  image-rendering: pixelated;
  width: 544px;
  height: 94px;
}

pre code {
  overflow: auto;
  background-color: var(--code-bg);
  color: var(--code-text);
  /* border: 1px solid #999; */
  display: block;
  white-space: pre-wrap;
  padding: 1em;
}

.temp {
  display: block;
}
