:root {
  --max-width: 544px;
  --bg: white;
  --text: black;
  --code-bg: #363636;
  --code-text: #E3E3E3;
  --text-spacing: 0.6em;
  /* --bg: white; */
  /* --text: black; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #20384B;
    --text: #E1F2FF;
    --code-bg: #E1F2FF;
    --code-text: #20384B;
  }
}

body {
  font-family: "EB Garamond", serif;
  color: var(--text);
  background-color: var(--bg);
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

h2, h3, h4, h5, h6 {
  scroll-margin-top: 0.5em;
  position: relative;
}

h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
}

h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before,
h6:hover::before {
  content: "#";
  position: absolute;
  left: -0.8em;
  color: var(--text);
  opacity: 0.5;
}

p {
    margin: var(--text-spacing) 0;
}

.date {
    font-size: 85%;
    /* font-variant-numeric: proportional-nums oldstyle-nums;
    font-feature-settings: "onum"; */
}

#site-container {
  width: var(--max-width);
  margin: 0px;
  padding: 0 1em 1em 1em;
}

/* dinkify */
hr {
 border: none;
 text-align: center;
}
hr::before {
 content: "* * *";
}

.smallcaps {
    font-variant: small-caps;
    font-feature-settings: "smcp";
}

.oldstyle {
    font-variant-numeric: proportional-nums oldstyle-nums;
    font-feature-settings: "onum";
}

.spoiler {
  background-color: var(--text);
}

.spoiler:hover {
  background-color: var(--bg);
}

a {
  color: var(--text);
  cursor: pointer;
}
a:not(:hover) {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

li {
  margin-bottom: var(--text-spacing);
}

ul.tight li,
ol.tight li {
  margin-bottom: 0;
}

/* ul { list-style-type: "•  "; } */
/* ul { list-style-type: "◈  "; } */
ul,
ol {
  list-style-type: "•  ";
  margin: var(--text-spacing) 0;
}

img {
  image-rendering: pixelated;
}

nav {
  overflow: visible;
  max-width: inherit;
}
nav a {
  line-height: 1.2;
  display: inline-block;
  padding: 8px;
  margin-left: -8px;
  margin-right: 8px;
}
nav .settings-btn {
  float: right;
  margin-right: 10px;
}
nav img {
  image-rendering: pixelated;
  width: 544px;
  height: 94px;
}

pre code {
  overflow: auto;
  background-color: var(--code-bg);
  color: var(--code-text);
  /* border: 1px solid #999; */
  display: block;
  white-space: pre-wrap;
  padding: 1em;
}
