name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3
      - uses: typst-community/setup-typst@v4

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.15.10

      - name: Install dependencies
        run: |
          cargo binstall --no-confirm compile-typst-site
          cargo binstall --no-confirm just

      - name: Build
        run: just build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
          publish_branch: gh-pages
